<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="container">
    <h2>Admin Dashboard</h2>

    <h3>Registered Users</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.Email }} - {{ user.UserID }}</li>
        {% endfor %}
    </ul>

    <h3>Result Files</h3>
    <ul>
        {% for file in result_files %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>

    <a href="/">Back</a>
</div>
</body>
</html>