<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Adaptive Assessment Login</h2>

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="text" name="userid" placeholder="Enter User ID" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>